<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
	</configSections>
	<system.windows.forms jitDebugging="true"/>

	<!-- network debugging
	<system.diagnostics>
		<sources>
			<source name="System.Net">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Sockets">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
			<source name="System.Net.Cache">
				<listeners>
					<add name="System.Net"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="System.Net" value="Verbose" />
			<add name="System.Net.Sockets" value="Error" />
			<add name="System.Net.Cache"  value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="System.Net"
				 type="System.Diagnostics.TextWriterTraceListener"
				 initializeData="my.log"
           />
		</sharedListeners>
		<trace autoflush="true" />
	</system.diagnostics>
	-->
	
	<log4net>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{LOG_FILE}"/>
			<encoding value="utf-8" />
			<appendToFile value="true"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger [%thread] - %message%newline"/>
			</layout>
		</appender>
		<appender name="NetworkTraceAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{NETWORK_TRACE}"/>
			<encoding value="utf-8" />
			<appendToFile value="true"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline"/>
			</layout>
		</appender>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger [%thread] - %message%newline"/>
			</layout>
		</appender>

		<root>
			<level value="INFO"/>
			<appender-ref ref="RollingLogFileAppender"/>
			<!-- appender-ref ref="TraceAppender" -->
			<!-- appender-ref ref="NetworkTraceAppender" -->
		</root>

		<!-- Audit Trailing:  The Audit logger will log all operations starting and finishing at INFO,
         and all failed operations at WARN. -->
		<appender name="AuditAppender" type="log4net.Appender.RollingFileAppender">
			<file type="log4net.Util.PatternString" value="%property{AUDIT_TRAIL}"/>
			<encoding value="utf-8" />
			<appendToFile value="true"/>
			<maxSizeRollBackups value="5"/>
			<maximumFileSize value="10MB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date - %message%newline"/>
			</layout>
		</appender>
		<logger name="Audit">
			<level value="INFO"/>
			<appender-ref ref="AuditAppender"/>
		</logger>
		<logger name="XenAPI.Session">
			<level value="INFO"/>
		</logger>
	</log4net>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
