<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{ECF4BD20-A55F-4F5D-B548-CF67664ED09B}" Name="XCP-ng Center" Language="1033" Version="1.0.3" Manufacturer="XCP-ng" UpgradeCode="47087771-7e34-407c-9d04-94a87316378f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallInitialize" RemoveFeatures="ALL" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="XCP-ng Center" Level="1">
      
      <ComponentGroupRef Id="XCP-ng Center" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
<ComponentRef Id="ApplicationShortcut" />
    </Feature>
  <Icon Id="AppIcon.ico" SourceFile="AppIcon.ico"/>
<Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
  <WixVariable Id="WixUILicenseRtf" Value="license.rtf" /> 
  </Product>
  
<Fragment>
  <Property Id="ROOTDRIVE">
    <![CDATA[C:\]]>
  </Property>
  
<Directory Id="TARGETDIR" Name="SourceDir">
  <Directory Id="DesktopFolder" Name="Desktop"/>
  <Directory Id="ProgramFiles" Name="Program Files">
  <Directory Id="INSTALLFOLDER" Name="XCP-ng Center">
             <Directory Id="ProgramMenuFolder">
                <Directory Id="ApplicationProgramsFolder" Name="XCP-ng Center" />
            </Directory>
	
 
      <Component Id="cmpMain" Guid="{2FC55E1C-1E54-415C-AC94-C1794388CD42}" KeyPath="yes" Feature="ProductFeature"/>
      </Directory>
  </Directory>
    </Directory>
  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"></Property>
  <UIRef Id="WixUI_Minimal"/>
          <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="ApplicationShortcut" Guid="{2010795F-AB74-4166-89F0-B555B3DEB9C8}">
                <Shortcut Id="startmenuxcpng"  Name="XCP-ng Center" Target="[INSTALLFOLDER]XCP-ng Center.exe" WorkingDirectory="INSTALLDIR" />
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\XCP-ng\XCP-ng" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
	
    
</Fragment>


     <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp9E3A4082A108061354E1530C1B08E3BF" Guid="{F3A1B534-5B82-4AEF-AE0A-6551667DDC45}">
                <File Id="fil24D4C3E1EC647084D484DC3717AB3F40" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\ADODB.dll" />
            </Component>
            <Component Id="cmp83DF1C9014D9E372C82458B8949D7561" Guid="{BD591AB2-CD6F-4318-A471-8ACC600C1F4E}">
                <File Id="fil2BF7E60BA56C0D3A14B246BC24719255" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\CommandLib.dll" />
            </Component>
            <Component Id="cmp12ADC8729C02C19C790D4DFC946A278F" Guid="{E32DA3EB-8C8F-4A0D-B121-CE382E38F6DE}">
                <File Id="filA81EAFFA4164DFF7379D3A33D221CE2F" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\CookComputing.XmlRpcV2.dll" />
            </Component>
            <Component Id="cmp2B3EFA1483F2854E2F64ECC9553DB27F" Guid="{9443D3B0-9BAC-41BE-89F8-74CE39E77739}">
                <File Id="fil6F5ACCF0FA5D9A4456F724ABAAB8E57B" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\DiscUtils.dll" />
            </Component>
            <Component Id="cmpAD10C4DDB6153D3101ECFFF7D76EE5A7" Guid="{8E797B83-DF26-4C98-82EF-4B75EF2A1860}">
                <File Id="fil96C4A42F2D9241A88D45380DC1C190B3" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\HomePage.mht" />
            </Component>
            <Component Id="cmp612B8EDB65D51904C1652A7E7B28F59F" Guid="{E9374796-2F13-47A0-8A4C-77AACF0C2591}">
                <File Id="filC4FB21276BDBCDD1F4E7BF8A7F45C4A5" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\ICSharpCode.SharpZipLib.dll" />
            </Component>
            <Component Id="cmp93D8B0B4A3E1743DC112AA33040A556E" Guid="{6CDEA946-F2B1-468F-82F7-9584FB6A1C39}">
                <File Id="fil26195892AC88FA7C68A5B3256E556D0A" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Ionic.Zip.dll" />
            </Component>
            <Component Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" Guid="{128CEDCD-1FC9-4865-BBBF-83355E25021C}">
                <File Id="fil53CF67BC1F7314B08C1D64A6CEA223E4" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\log4net.dll" />
            </Component>
            <Component Id="cmp9566189FF5EBDFCA5A157A1C61FDF4CE" Guid="{BE777759-0131-4945-AE05-6EF2A6E2BE82}">
                <File Id="fil5F05D79F4407EACDD3C5BDEA2B815D39" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Microsoft.Build.Utilities.v3.5.dll" />
            </Component>
            <Component Id="cmpDD29D748022FCFC5F90F81502B7BE83C" Guid="{D59C4E93-D579-4AE6-9FAB-974371B00B43}">
                <File Id="filD83D79D02DD45C6E47A75B6345C3136C" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Microsoft.ReportViewer.Common.dll" />
            </Component>
            <Component Id="cmp69C3640F1C041FC2DBA81FC5E5C5A1D0" Guid="{E2237456-7617-4D76-A031-763E47E35BA1}">
                <File Id="fil862726BB1F20554AFD64317B858A9A25" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Microsoft.ReportViewer.ProcessingObjectModel.dll" />
            </Component>
            <Component Id="cmp061677E3FCBBBA267366AA681298D731" Guid="{8FDF92F5-E0A4-42A2-B785-DF1009BACA05}">
                <File Id="fil66994F608E9854F76624D08F73BDFECB" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Microsoft.ReportViewer.WinForms.dll" />
            </Component>
            <Component Id="cmp73B6EF1DF6C8BB9F27B48CB121658A57" Guid="{C3571A30-09DD-4A64-AFF2-A15CBDDFE15D}">
                <File Id="fil4F2908F0B765D500EA07B0A5317D56D1" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\MSTSCLib.dll" />
            </Component>
            <Component Id="cmpCBB5341F46896CAF3C6A96E75E410517" Guid="{9192BB22-39CF-4551-BB6D-C9C10116520B}">
                <File Id="filD63722DC6A4CE5A693E88D1EED430DD5" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XCP-ng Center.exe" />
            </Component>
            <Component Id="cmpC668AB891DE472BC2046D3D273C736C2" Guid="{76E20AD9-AEF7-4F9C-AF4F-10FD73DC42AE}">
                <File Id="filAE720D99C5B6348D68408E15294C046A" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenCenterLib.dll" />
            </Component>
            <Component Id="cmp56A6DA7A760B2C87072A292FD14767C8" Guid="{E5E80586-C788-4326-91A9-4CBEF3B30067}">
                <File Id="fil72FE856D05DD4715A9B8DBAE3D016953" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenCenterLib.dll.config" />
            </Component>
            <Component Id="cmpBAF939BAFFBEF77729DCD84335D168AF" Guid="{B28B4886-F25C-46ED-9875-845D35F7679C}">
                <File Id="fil78791A5C6DB6BF4067E50ABCFF8E506F" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenCenterMain.exe" />
            </Component>
            <Component Id="cmp28526DC9DE0D0CC23A67FB000014EE05" Guid="{76EB8EC1-2C15-4A92-B566-C49E24CFD898}">
                <File Id="filC08EED591754054DD02A603102FB6180" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenCenterMain.exe.config" />
            </Component>
            <Component Id="cmpB061AE4F0879FF6C2B193FBFC2B1EACB" Guid="{5117E2F8-506B-41CF-8833-731EA1608644}">
                <File Id="fil3CDF96F465B6277208956903B5A4C468" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenCenterVNC.dll" />
            </Component>
            <Component Id="cmp4407DA4FD487561623418AD99D5A42FE" Guid="{B71E7C85-C56E-4245-AC10-9D50E5247886}">
                <File Id="fil883D6DE06A838B41C0BFBB764D98FE59" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenCenterVNC.dll.config" />
            </Component>
            <Component Id="cmpCE598A04A7EFB457BC69EE0596562204" Guid="{BADE5089-D57E-4A97-BFA6-CD3ECDCEA1BA}">
                <File Id="fil400B13E3558935D5086E596509B9E220" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenModel.dll" />
            </Component>
            <Component Id="cmpA6FB5446C4FC787CA86E35D43E323F19" Guid="{D434AABC-3688-471F-BB36-175769BD51EA}">
                <File Id="filCB5BFB1D4AF43B5C681BD8202E00941D" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenOvf.dll" />
            </Component>
            <Component Id="cmpB248697CB82CD8374DC1227C581428D7" Guid="{3E2F70FC-131B-485A-8AA6-281E061879FB}">
                <File Id="fil722C7E5F2D995A7E2DFDEBCBFCD95456" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenOvf.dll.config" />
            </Component>
            <Component Id="cmp9355B39E556B88660849941E257442B1" Guid="{B5644391-4309-4363-A12E-9790772060FB}">
                <File Id="filC2CC8D3F8A67E044830CDBA0BE6790B9" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenOvfTransport.dll" />
            </Component>
            <Component Id="cmp9EC64FC644FF0509A4237AB7AA9C0C81" Guid="{C3D1C1E9-5EDE-46D9-A6CD-2D5BF2C668AD}">
                <File Id="filEA497C120BF9A0B276E2C08262B85515" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\XenOvfTransport.dll.config" />
            </Component>
            <Directory Id="dirF7618158CE8FEC39DAC1DD18D359DD11" Name="de">
                <Component Id="cmp03849176CE6DBAF8033FF9E565911AC8" Guid="{FF68A66A-C0EE-4600-AECE-411D306D1BA5}">
                    <File Id="fil7D123367E2C2212E2C8D3007A8DAFCE7" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\de\Microsoft.Build.Utilities.v3.5.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir3A247B869E6E27155BBAD1A9BDA92680" Name="Images">
                <Component Id="cmp32D83B5E7D071A4E11411BD10D8AC0DD" Guid="{6AACB164-C0E7-4E8D-B7FB-E2D948C8DCDE}">
                    <File Id="fil7034379BC43716360166406CD912BEEE" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\spacer1x1.gif" />
                </Component>
                <Component Id="cmpB6FAC452B6A215E7AE3C3BC5AE1B4549" Guid="{0BC64807-9FCC-40D5-8008-8920C179168C}">
                    <File Id="filF5838B23E513E6B848DEE9368F6007B4" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\upsell_16.png" />
                </Component>
                <Component Id="cmp8A52090D9E0D0FC2C657D89571289B78" Guid="{17A8F8CB-BA82-456E-B3E5-28E21C67213A}">
                    <File Id="fil19F929BEACF9D97E4F5D24D7E4AC4CE5" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_0.png" />
                </Component>
                <Component Id="cmp169C931EF0B83D811E7884561097EBEF" Guid="{5C6EF742-4D9D-4962-9FB6-1736279C3930}">
                    <File Id="filDFE73AB8BBFC23DDDE6BBC8B1B8CAA3B" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_1.png" />
                </Component>
                <Component Id="cmp500FC07D87D0987325D09EE1BDE0F774" Guid="{05B27C60-D3E2-493C-B8F0-497E38F5372A}">
                    <File Id="filA499C421D5A24A7B989E781C28521755" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_10.png" />
                </Component>
                <Component Id="cmp1EB9D388C3502F0D55C108EBBF2CFB93" Guid="{6162C910-667F-45AC-BEEB-BFFF2E257BCB}">
                    <File Id="fil5DD048B337B757BD7CCC6E2ADC7A3AC3" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_2.png" />
                </Component>
                <Component Id="cmpE0DA4F176BD48680B1B001EDAB72EC69" Guid="{D0754A9D-1012-4FA1-9D0E-21A5437A31F4}">
                    <File Id="fil3C195CEA44D81700EFE178618799C3BC" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_3.png" />
                </Component>
                <Component Id="cmp67B1B5A25B66D3AE40071D8AF16FDC98" Guid="{62EB6816-57FF-4CC6-ACD4-1F8BB112A15D}">
                    <File Id="fil3E28452B8E55E2B99C77DCC730F1DAD1" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_4.png" />
                </Component>
                <Component Id="cmp9BACA9B4D560F70AC39F474051C5C6E7" Guid="{F2FE8365-3ECA-454F-9993-C30974888AC9}">
                    <File Id="filDA1F13C561EAF2D5C9120D9A865A563D" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_5.png" />
                </Component>
                <Component Id="cmpEF392FBCBBDB95DD3F667CDF7D7A8066" Guid="{B76DEEFA-259C-437F-B6D8-11DDC0AAFE0D}">
                    <File Id="fil0D3175DBD72E1DB0D15994A0B65218BB" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_6.png" />
                </Component>
                <Component Id="cmp85FDA084661953E31EB3400D5ED90D92" Guid="{EBCCBBD4-C6F6-455A-9EC0-FF93646FE35C}">
                    <File Id="fil40B341962B67E4A30F511D9773771578" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_7.png" />
                </Component>
                <Component Id="cmpA7D85B0FA05346E96B1CC1D5FAD8D1F2" Guid="{D0E99FFC-73C1-4CDB-8E69-E2844CFC983B}">
                    <File Id="filB7DA2F1FBA1B77A8ED3F21605AB9663E" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_8.png" />
                </Component>
                <Component Id="cmp1CBBF48D48F42565F254DB27C8483D86" Guid="{1DE28EC8-13AA-4A8F-9CC6-84FB0E0F3E55}">
                    <File Id="fil12413A40DB194615789B3B9C3D8E409B" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Images\usagebar_9.png" />
                </Component>
            </Directory>
            <Directory Id="dir4BAF3ACC1308889E29E86346A3C9852C" Name="ja">
                <Component Id="cmpC973BE091CB3CF22351EFF1650C5A330" Guid="{309D986C-60DA-4A12-B272-1E9F8579D4FC}">
                    <File Id="filD5D98CD6C01DD1D0FBE90E44916F52E5" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\ja\XenCenterMain.resources.dll" />
                </Component>
                <Component Id="cmp838859CFC46F7FBDD42E5DB2854177A2" Guid="{41863227-FAB1-4C33-9183-833A6D997663}">
                    <File Id="fil71F856DC043B13D2657508C2558C43E9" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\ja\XenModel.resources.dll" />
                </Component>
                <Component Id="cmpD86A07106FF4431B16E2C36219CEDF7F" Guid="{2EA32B4B-29E6-493B-8C5A-CEE553DCCE78}">
                    <File Id="filA8163A00000389BCD8B176778BA53973" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\ja\XenOvf.resources.dll" />
                </Component>
                <Component Id="cmp978096C05EB581D47ECCDAB5A2CDE6C9" Guid="{71E1AA31-8ECE-4B02-A1AF-9B9C7B3C4EB3}">
                    <File Id="fil9882AB0E2208D2226ED8C32F695BEA60" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\ja\XenOvfTransport.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="dir3883A41CE155EE6D4A9CD4E98CC9652C" Name="Schemas">
                <Component Id="cmp984D81FAF276D33ACE66CBD92E0980DF" Guid="{D3AEEFE6-0923-461B-8FEA-D781903AFF92}">
                    <File Id="fil3C61018A5E92BDBB41522896AF6C29C9" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\CIM_OperatingSystem.xml" />
                </Component>
                <Component Id="cmp965F03358BA4DAD7B31A60FD382A113F" Guid="{35FA8876-C27C-47E2-858A-C76A06795F9D}">
                    <File Id="fil561D80FADB6CC1FE4E25EF2A75F356A7" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\CIM_ResourceAllocationSettingData.xml" />
                </Component>
                <Component Id="cmpA2F5607F3428484A2BB81D17CCED84EF" Guid="{C1597E3F-70CC-49E3-BDA8-FEF2EEAE8497}">
                    <File Id="filE15AE518927F8728720FE8C93EF9B86D" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\CIM_ResourceAllocationSettingData.xsd" />
                </Component>
                <Component Id="cmp7EB64467C7670CE739D8B9B05F7B783A" Guid="{B41CD637-792F-45F0-9949-A7901DE02541}">
                    <File Id="filA41CE666D3C7832049BCE22029227E24" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\CIM_VirtualSystemSettingData.xml" />
                </Component>
                <Component Id="cmp84DD7E9B67D010BBEDA9F6A16CA363A4" Guid="{246A7F80-4653-438F-B2F6-926D9D7AD5F7}">
                    <File Id="fil55C741E5AFA2F0FFC6E5989B26182997" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\CIM_VirtualSystemSettingData.xsd" />
                </Component>
                <Component Id="cmp7902D5FAC1060877C4DA5620B6E32C37" Guid="{7BA420B7-BA85-4766-859F-ADD33903DB2C}">
                    <File Id="fil59074BEBFF43E49255099393FCED285D" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\common.xsd" />
                </Component>
                <Component Id="cmp96B1DD3A065110B0B0032F09EADA82ED" Guid="{C2DBB3CE-7F94-4736-A5E0-2A73E9FE6E6C}">
                    <File Id="fil00CC23C29D46D04F9692EC4B21904AC5" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\DSP8023.xsd" />
                </Component>
                <Component Id="cmp8E3036926886471255F4B770478A5975" Guid="{4AEB3C4B-544F-4708-BB9A-9DAC78675C5F}">
                    <File Id="fil404173F8ACCF6B12576B60FDD93C061C" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\DSP8027.xsd" />
                </Component>
                <Component Id="cmp8EB79B8B98987214E9889FDB06921F86" Guid="{C78E2118-922C-4821-935D-5FDDC3E9641C}">
                    <File Id="fil6DF7BC2AE4C052AF2C7B25BD930B1E50" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\secext-1.0.xsd" />
                </Component>
                <Component Id="cmp32B8007B5B2A03AEA80806CFBA2F15BE" Guid="{ABCD6B33-6F30-43F6-81F4-2A610F6F6B2C}">
                    <File Id="fil3743A8917B89C7AEAF3FA511D5073BCB" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\wss-utility-1.0.xsd" />
                </Component>
                <Component Id="cmpF7FA4AE414FCD3FDCE99D0BB92E2B61F" Guid="{25F72477-2AA4-40B3-9CA8-F1EC5B6D3B0B}">
                    <File Id="filD3A5BF3C95A1A75273C8BE160B7579E0" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\xenc-schema.xsd" />
                </Component>
                <Component Id="cmp6FE17792B6A09233891247D2E142487E" Guid="{C5063754-0BAA-44ED-8640-5DA74B5A6696}">
                    <File Id="fil741D1653C7F3172CC3F7206A240F56FC" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\xml.xsd" />
                </Component>
                <Component Id="cmpA76A02F291A87CC5F3B82C312FB5C946" Guid="{BC0BEA3A-4D38-46A0-98FF-349EEBD00B86}">
                    <File Id="filEFB8477254A55F9C7F3EE412A344CD60" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\Schemas\xmldsig-core-schema.xsd" />
                </Component>
            </Directory>
            <Directory Id="dir50B6246B3834061C2B20218486FEF43C" Name="zh-CN">
                <Component Id="cmp31696816F95F4ADEF56F9124EA5CBB15" Guid="{19523423-4F35-4A1F-A7F2-E124D9F3812E}">
                    <File Id="filDFBA38F134DABA3E1A13736D78E0E568" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\zh-CN\XenCenterMain.resources.dll" />
                </Component>
                <Component Id="cmp8F586AF697599CD11E713DE2C323A48B" Guid="{30C20FA0-EABD-4C53-87DE-CF26D1410995}">
                    <File Id="fil0F2111F61063B90E8053C7014832D136" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\zh-CN\XenModel.resources.dll" />
                </Component>
                <Component Id="cmpB0685506A78ACF9787FB31590774B815" Guid="{E2FE066B-0542-403C-8B83-ED1404552C0A}">
                    <File Id="filFE20F924D9FC81D03A07B40933559EA5" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\zh-CN\XenOvf.resources.dll" />
                </Component>
                <Component Id="cmpF91F9ED9D3E4EAB1054812CDC420823D" Guid="{DBA94C23-2931-49F1-A646-7FF2DD427F82}">
                    <File Id="fil8B22243728368DB63DF63B0968FCF436" KeyPath="yes" Source="C:\Users\matthias\Downloads\XCP-ng_Console_7.4.0.1_x64\zh-CN\XenOvfTransport.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="XCP-ng Center">
            <ComponentRef Id="cmp9E3A4082A108061354E1530C1B08E3BF" />
            <ComponentRef Id="cmp83DF1C9014D9E372C82458B8949D7561" />
            <ComponentRef Id="cmp12ADC8729C02C19C790D4DFC946A278F" />
            <ComponentRef Id="cmp2B3EFA1483F2854E2F64ECC9553DB27F" />
            <ComponentRef Id="cmpAD10C4DDB6153D3101ECFFF7D76EE5A7" />
            <ComponentRef Id="cmp612B8EDB65D51904C1652A7E7B28F59F" />
            <ComponentRef Id="cmp93D8B0B4A3E1743DC112AA33040A556E" />
            <ComponentRef Id="cmpACB6CD6FFB2A84501BD9E8392459FA45" />
            <ComponentRef Id="cmp9566189FF5EBDFCA5A157A1C61FDF4CE" />
            <ComponentRef Id="cmpDD29D748022FCFC5F90F81502B7BE83C" />
            <ComponentRef Id="cmp69C3640F1C041FC2DBA81FC5E5C5A1D0" />
            <ComponentRef Id="cmp061677E3FCBBBA267366AA681298D731" />
            <ComponentRef Id="cmp73B6EF1DF6C8BB9F27B48CB121658A57" />
            <ComponentRef Id="cmpCBB5341F46896CAF3C6A96E75E410517" />
            <ComponentRef Id="cmpC668AB891DE472BC2046D3D273C736C2" />
            <ComponentRef Id="cmp56A6DA7A760B2C87072A292FD14767C8" />
            <ComponentRef Id="cmpBAF939BAFFBEF77729DCD84335D168AF" />
            <ComponentRef Id="cmp28526DC9DE0D0CC23A67FB000014EE05" />
            <ComponentRef Id="cmpB061AE4F0879FF6C2B193FBFC2B1EACB" />
            <ComponentRef Id="cmp4407DA4FD487561623418AD99D5A42FE" />
            <ComponentRef Id="cmpCE598A04A7EFB457BC69EE0596562204" />
            <ComponentRef Id="cmpA6FB5446C4FC787CA86E35D43E323F19" />
            <ComponentRef Id="cmpB248697CB82CD8374DC1227C581428D7" />
            <ComponentRef Id="cmp9355B39E556B88660849941E257442B1" />
            <ComponentRef Id="cmp9EC64FC644FF0509A4237AB7AA9C0C81" />
            <ComponentRef Id="cmp03849176CE6DBAF8033FF9E565911AC8" />
            <ComponentRef Id="cmp32D83B5E7D071A4E11411BD10D8AC0DD" />
            <ComponentRef Id="cmpB6FAC452B6A215E7AE3C3BC5AE1B4549" />
            <ComponentRef Id="cmp8A52090D9E0D0FC2C657D89571289B78" />
            <ComponentRef Id="cmp169C931EF0B83D811E7884561097EBEF" />
            <ComponentRef Id="cmp500FC07D87D0987325D09EE1BDE0F774" />
            <ComponentRef Id="cmp1EB9D388C3502F0D55C108EBBF2CFB93" />
            <ComponentRef Id="cmpE0DA4F176BD48680B1B001EDAB72EC69" />
            <ComponentRef Id="cmp67B1B5A25B66D3AE40071D8AF16FDC98" />
            <ComponentRef Id="cmp9BACA9B4D560F70AC39F474051C5C6E7" />
            <ComponentRef Id="cmpEF392FBCBBDB95DD3F667CDF7D7A8066" />
            <ComponentRef Id="cmp85FDA084661953E31EB3400D5ED90D92" />
            <ComponentRef Id="cmpA7D85B0FA05346E96B1CC1D5FAD8D1F2" />
            <ComponentRef Id="cmp1CBBF48D48F42565F254DB27C8483D86" />
            <ComponentRef Id="cmpC973BE091CB3CF22351EFF1650C5A330" />
            <ComponentRef Id="cmp838859CFC46F7FBDD42E5DB2854177A2" />
            <ComponentRef Id="cmpD86A07106FF4431B16E2C36219CEDF7F" />
            <ComponentRef Id="cmp978096C05EB581D47ECCDAB5A2CDE6C9" />
            <ComponentRef Id="cmp984D81FAF276D33ACE66CBD92E0980DF" />
            <ComponentRef Id="cmp965F03358BA4DAD7B31A60FD382A113F" />
            <ComponentRef Id="cmpA2F5607F3428484A2BB81D17CCED84EF" />
            <ComponentRef Id="cmp7EB64467C7670CE739D8B9B05F7B783A" />
            <ComponentRef Id="cmp84DD7E9B67D010BBEDA9F6A16CA363A4" />
            <ComponentRef Id="cmp7902D5FAC1060877C4DA5620B6E32C37" />
            <ComponentRef Id="cmp96B1DD3A065110B0B0032F09EADA82ED" />
            <ComponentRef Id="cmp8E3036926886471255F4B770478A5975" />
            <ComponentRef Id="cmp8EB79B8B98987214E9889FDB06921F86" />
            <ComponentRef Id="cmp32B8007B5B2A03AEA80806CFBA2F15BE" />
            <ComponentRef Id="cmpF7FA4AE414FCD3FDCE99D0BB92E2B61F" />
            <ComponentRef Id="cmp6FE17792B6A09233891247D2E142487E" />
            <ComponentRef Id="cmpA76A02F291A87CC5F3B82C312FB5C946" />
            <ComponentRef Id="cmp31696816F95F4ADEF56F9124EA5CBB15" />
            <ComponentRef Id="cmp8F586AF697599CD11E713DE2C323A48B" />
            <ComponentRef Id="cmpB0685506A78ACF9787FB31590774B815" />
            <ComponentRef Id="cmpF91F9ED9D3E4EAB1054812CDC420823D" />
        </ComponentGroup>
    </Fragment>
<Fragment>
<Component Id="ApplicationShortcutDesktop" Directory="INSTALLFOLDER" Guid="*">
    <RegistryValue Id="RegShortcutDesktop" 
            Root="HKCU" 
            Key="Software\XCP-ng\XCP-ng"
            Name="XCP-ng_Shortcut"
            Value="1" 
            Type="integer"
            KeyPath="yes" />

    <Shortcut Id="ApplicationShortcutDesktop" 
            Target="[INSTALLFOLDER]XCP-ng Center.exe"
            WorkingDirectory="INSTALLFOLDER"
            Directory="DesktopFolder" 
            Name="XCP-ng Center" 
            Advertise="no"/>
</Component>
</Fragment>

</Wix>